Options +FollowSymLinks
RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteBase /

# Remember to deny all access to /inc/
RewriteRule ^inc\/.*$ /openverse-php/errors/404.php [L,NC,QSA]
RewriteRule ^$ /openverse-php/community-list.php [L,NC,QSA]
RewriteRule ^account\/login[\/]?$ /openverse-php/login.php [L,NC,QSA]
RewriteRule ^account\/logout[\/]?$ /openverse-php/logout.php [L,NC,QSA]
RewriteRule ^account\/signup[\/]?$ /openverse-php/signup.php [L,NC,QSA]
RewriteRule ^account\/forgot[\/]?$ /openverse-php/forgot_password.php [L,NC,QSA]
RewriteRule ^users\/@me[\/]?$ /openverse-php/me.php [L,NC,QSA]
RewriteRule ^users\/([^\/]+)[\/]?$ /openverse-php/user_profile.php?id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/posts[\/]?$ /openverse-php/user_posts.php?id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/empathies[\/]?$ /openverse-php/user_empathies.php?id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/friends[\/]?$ /openverse-php/user_friends.php?id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/followers[\/]?$ /openverse-php/user_followers.php?id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/following[\/]?$ /openverse-php/user_following.php?id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/follow[\/]?$ /openverse-php/follow.php?id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/unfollow[\/]?$ /openverse-php/unfollow.php?id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/favorites[\/]?$ /openverse-php/user_favorites.php?id=$1 [L,NC,QSA]
RewriteRule ^users[\/]?$ /openverse-php/user_search.php [L,NC,QSA]
RewriteRule ^identified_user_posts[\/]?$ /openverse-php/identified_user_posts.php [L,NC,QSA]
RewriteRule ^check_update.json(.*)?$ /openverse-php/check_update.php [L,NC,QSA]
RewriteRule ^activity[\/]?$ /openverse-php/activity.php [L,NC,QSA]
RewriteRule ^news\/my_news[\/]?$ /openverse-php/notifications.php [L,NC,QSA]
RewriteRule ^news\/friend_requests[\/]?$ /openverse-php/friendrequests.php [L,NC,QSA]
RewriteRule ^communities\/favorites[\/]?$ /openverse-php/favorites.php [L,NC,QSA]
RewriteRule ^titles\/search[\/]?$ /openverse-php/title_search.php [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)[\/]?$ /openverse-php/titles.php?id=$1 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)[\/]?$ /openverse-php/communities.php?id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/favorite[\/]?$ /openverse-php/favorite.php?id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/unfavorite[\/]?$ /openverse-php/unfavorite.php?id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/hot[\/]?$ /openverse-php/popular_posts.php?id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/hot\/(.+)$ /openverse-php/popular_posts.php?id=$2&date=$3 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/empathies$ /openverse-php/yeah_post.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/empathies.delete$ /openverse-php/delete_post_yeah.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/delete$ /openverse-php/delete_post.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/remove$ /openverse-php/remove_post.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/edit$ /openverse-php/edit_post.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/set_spoiler$ /openverse-php/spoiler_post.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/violations$ /openverse-php/report_post.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/favorite_screenshot$ /openverse-php/favorite_post_screenshot.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)[\/]?$ /openverse-php/posts.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/replies[\/]?$ /openverse-php/reply.php?id=$1 [L,NC,QSA]
RewriteRule ^posts[\/]?$ /openverse-php/post.php [L,NC,QSA]
RewriteRule ^replies\/([0-9]+)\/empathies$ /openverse-php/yeah_reply.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([0-9]+)\/empathies\.delete$ /openverse-php/delete_reply_yeah.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([0-9]+)\/delete$ /openverse-php/delete_reply.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([0-9]+)\/remove$ /openverse-php/remove_reply.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([0-9]+)\/set_spoiler$ /openverse-php/spoiler_reply.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([0-9]+)\/violations$ /openverse-php/report_reply.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([0-9]+)$ /openverse-php/replies.php?id=$1 [L,NC,QSA]
RewriteRule ^guide[\/]?$ /openverse-php/guide/rules.php [L,NC,QSA]
RewriteRule ^guide\/legal[\/]?$ /openverse-php/guide/legal.php [L,NC,QSA]
RewriteRule ^guide\/faq[\/]?$ /openverse-php/guide/faq.php [L,NC,QSA]
RewriteRule ^guide\/terms[\/]?$ /openverse-php/guide/terms.php [L,NC,QSA]
RewriteRule ^settings\/profile[\/]?$ /openverse-php/profile_settings.php [L,NC,QSA]
RewriteRule ^admin[\/]?$ /openverse-php/admin.php [L,NC,QSA]
RewriteRule ^admin\/ban[\/]?$ /openverse-php/admin/ban_user.php [L,NC,QSA]
RewriteRule ^admin\/create\/title[\/]?$ /openverse-php/admin/create_title.php [L,NC,QSA]
RewriteRule ^admin\/create\/community[\/]?$ /openverse-php/admin/create_community.php [L,NC,QSA]
RewriteRule ^admin\/reports[\/]?$ /openverse-php/admin/reports.php [L,NC,QSA]
RewriteRule ^admin\/session\/([^\/]+)$ /openverse-php/admin/session.php?id=$1 [L,NC,QSA]
RewriteRule ^debug.*$ /openverse-php/admin/tests.php [L,NC,QSA]
RewriteRule ^logo[\/]?$ /openverse-php/meme/logo.php [L,NC,QSA]

ErrorDocument 404 /openverse-php/errors/404.php
ErrorDocument 403 /openverse-php/errors/403.php
ErrorDocument 500 /openverse-php/errors/500.php
ErrorDocument 503 /openverse-php/errors/503.php